.hero {

  .carousel-indicators {
  
  }
  
  .carousel-control {
  
  }

  .hero-tools {
    position:absolute;
    top:-15px;
    left:-15px;
  }

  .missingSlideImage {
    height:150px;
    width:1024px;
    background-image: url(http://placehold.it/1024x150);
  }
  
  .edit-slide {
    display:none;
    position:relative;
    top:25px;
    width:375px;
    margin:0px auto;

    #slideEditForm {
      
      .form-group {
        clear:both;

        label {
          float:left;
          width:100px;
        }

        input {
          float:left;
          width:150px;
        }
      }

      button {
        &[type=submit] {
          clear:both;
          margin-right:10px;
        }
        margin-top:5px;
        float:left;
      }

    }
  }

}
