<template name="herodemo">
  <h1>Hero Demo</h1>

  {{#each heros}}
  <div id="carousel" class="carousel slide">

    <ol class="carousel-indicators">
      {{#each slides}}
      <li data-target="#carousel"></li>
      {{/each}}
    </ol>

    <div class="carousel-inner">
    {{#each slides}}
    <div class="item">
            {{#with media}}
            <div class="center-cropped" style="background-image: url('{{url}}');">
                <img src="{{url}}" class="product-grid-item-images img-responsive">
            </div>
            {{else}}
            <img src="http://placekitten.com/200/300" alt="">
            {{/with}}

            <div class="carousel-caption">{{idx}}
            </div>
        </div>
    {{/each}}
    </div>

    <a class="left carousel-control" href="carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>
  {{/each}}

</template>
