<template name="herocarousel">
{{#with hero}}
<div id="hero_{{_id}}" class="carousel slide hero">

    <ol class="carousel-indicators hidden-sm hidden-xs">
      {{#each slides}}
      <li data-target="#hero_{{hero._id}}"></li>
      {{/each}}
    </ol>

    <div class="carousel-inner">
      {{#each slides}}
      <div class="item">
        <a href="{{uri}}">
          {{#with media}}
            <div class="center-cropped" style="background-image: url('{{url}}');">
              <img src="{{url}}" class="product-grid-item-images img-responsive">
            </div>
          {{else}}
            <img src="/resources/placeholder.gif" alt="">
          {{/with}}

          <div class="carousel-caption hidden-sm hidden-xs">
            {{title}}
          </div>
        </a>
      </div>
      {{/each}}
    </div>

    {{#if showChevrons}}
    <a class="left carousel-control" href="hero_{{_id}}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="hero_{{_id}}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    {{/if}}

    {{#if userHasRole "admin"}}
      <div class="hero-tools">
        <a class="hero-remove-link" data-index="{{_id}}"><i class="remove-hero fa fa-times-circle fa-2x"></i></a>
      </div>
    {{/if}}
</div>
{{/with}}
</template>
