<template name="heroManager">
<div class="hero-manager">
  
  <a id="add-hero-link" alt="Add Hero Carousel"><i class="add-hero-link fa fa-plus"></i></a>
  <span class="icon-text">Create a New Hero Carousel</span>

  <h3>Heros</h3>
  <ul>
  {{#each heros}}
    <li>
      <a class="hero-edit" data-idx="{{_id}}">{{name}}</a>
      <div class="well" style="display:none;">
        {{> updateHeroForm }}       
      </div>
    </li>
  {{/each}}
  </ul>
       
</div>
</template>

<template name="updateHeroForm">
{{#autoForm collection="Heros" id="updateHeroForm" type="update" doc=editingDoc}}
    <fieldset>
        {{> afQuickField name='name'}}
        {{> afQuickField name='slides'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Update</button>
{{/autoForm}}
{{> afDeleteButton collection="Heros" doc=editingDoc}}
</template>
