<template name="heroManager">
<div class="hero-manager">
  
  <a id="add-hero-link" alt="Add Hero Carousel">
    <i class="add-hero-link fa fa-plus"></i>
    <span class="icon-text">Create a New Hero Carousel</span>
  </a>

  <h3>Heros</h3>
  <ul>
  {{#each heros}}
    <li>
      <a class="hero-edit" data-heroidx="{{_id}}">{{name}}</a>
      <div class="well" data-heroidx="{{_id}}" style="display:none;">
        {{> updateHeroForm }} 
      </div>
    </li>
  {{/each}}
  </ul>
</div>
</template>

<template name="updateHeroForm">
<fieldset>
    {{#autoForm collection="Heros" doc=heroDoc type="update" validation="keyup" id="_id" resetOnSuccess="false"}}
    <div class="form-group">
        <div class="row">
            <div class="col-xs-1">
                <button type="submit" id="update-hero" class="btn btn-primary">Update</button>
            </div>
            <div class="col-xs-1">
                {{> afDeleteButton collection="Heros" doc=heroDoc}}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{>afFieldLabel name='name'}}
        {{>afFieldInput name='name'}}
        {{#if afFieldIsInvalid name='name'}}
            <span class="help-block">{{afFieldMessage name='name'}}</span>
        {{/if}}
    </div>
    {{/autoForm}}

    <div class="form-group">
        <a id="add-hero-slide" alt="Add a new Slide">
            <i class="fa fa-plus"></i>
            <span class="icon-text">Create a New Slide</span>
        </a>

        <ol class="heroSlides">

            {{#each slides}}
            <li>
                <div class="well">
                    {{#autoForm collection="Heros" schema="HeroSlideSchema" doc=. type="method" meteormethod="updateHeroSlide" id=id resetOnSuccess="false"}}
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6">
                                {{#with media}}
                                  <div class="center-cropped" style="background-image: url('{{url}}');">
                                    <img src="{{url}}" class="product-grid-item-images img-responsive">
                                  </div>
                                {{else}}
                                  {{>heroImageUpload idx=id}}
                                {{/with}}
                            </div>
                            <div class="col-xs-6">
                                <fieldset>
                                    {{>afFieldLabel name='title'}}
                                    {{>afFieldInput name='title' data-idx=id}}
                                    {{#if afFieldIsInvalid name='title'}}
                                        <span class="help-block">{{afFieldMessage name='title'}}</span>
                                    {{/if}}

                                    {{>afFieldLabel name='uri'}}
                                    {{>afFieldInput name='uri' data-idx=id}}
                                    {{#if afFieldIsInvalid name='uri'}}
                                        <span class="help-block">{{afFieldMessage name='uri'}}</span>
                                    {{/if}}

                                    {{>afFieldInput name="id" type="hidden"}}

                                    <button data-idx="{{id}}" class="btn btn-primary update-hero-slide">Update</button>
                                    <button data-idx="{{id}}" class="btn btn-danger delete-hero-slide">Delete</button>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                    {{/autoForm}}
                </div>
            </li>
            {{/each}}

        </ol>

    </div>

</fieldset>
</template>

<template name="heroImageUpload">
<div id="dropzone" class="dropzone">
    <input name="files" id="files" class="hidden" type="file" multiple/>
    <div class="btn btn-default btn-block" id="btn-upload">Drop file to Upload</div>
</div>
</template>
