.slide-tools {
  position:absolute;
  top:10px;
  left:10px;
}

.slide-select, .hero-select {
  max-width: 300px;
}

.slide-select {
  display: inline-block;
  vertical-align: middle;
}

.heroSlides {
  cursor: move;
}

.slide-remove-from-hero-link {
  cursor: pointer;
}

.slide-thumb {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

#selectSlide, #selectHero {
  margin-top: 20px;
  margin-bottom: 20px;
}

#create-hero, #create-hero-slide {
  cursor: pointer;
}

.dropzone {
  .select-file {
    width: 350px;
    height: 350px;
  }
}

.center-cropped {
  max-width: 350px;
  max-height: 350px;
  background-size: contain;
  position: relative;
}